*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* body{
    background: linear-gradient( to bottom ,rgb(255, 255, 255), rgb(255, 255, 255), rgb(254, 149, 44));
    background-repeat:no-repeat;
} */