header{
    border-bottom: solid 3px rgb(254, 149, 44);
    height: auto;
    border-radius: 15px;
    display: flex;
}
.logo{
    height: 100px;
    width: 50%;
}
.logos{
    height:190px;
    width: auto;
    position: relative;
    bottom: 20px;
    left: 40px;
}
.links{
    width: 60%;
    display: flex;
    align-items: center;
   
}
a{
    font-size: 30px;
    margin-left: 60px;
    color: black;
}
.cadastro{
    background-color: rgb(254, 149, 44);
    border-radius: 10px;
    padding: 5px;
}
.cadastro:hover{
    background-color: rgb(255, 255, 255);
    border: solid 3px rgb(254, 149, 44);
}
.outros:hover{
    border-top: solid 3px rgb(254, 149, 44);
}

main{
    margin-top: 50px;
    height: auto;
}
.carrossel{
    height: auto;
    border-top: solid 3px rgb(254, 149, 44);
    border-bottom: solid 3px rgb(254, 149, 44);
    border-radius: 20px;
}



footer{
    border-top: solid 3px rgb(254, 149, 44);
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    padding-left: 44%;
}
/* .contatos{
    width: auto;
    height: auto;
    margin: 10px;
} */
.conta{
    height: 50px;
    border-radius: 20px;
    position: relative;
    /* left: 100px; */
}


/* tooltip  */
.tooltip {
    position: relative;                                    
    display: inline-block;                                 
    border-bottom: 1px dotted black;    
    text-align: center;
    align-items: center;   
    padding-left: 15px;       
}

.tooltip .tooltiptext {
    visibility: hidden;                                    
    width: 120px;                                          
    background-color: #555;                                
    color: #fff;                                           
    text-align: center;                                    
    border-radius: 6px;                                    
    padding: 5px 0;                                        
    position: absolute;                                    
    z-index: 1;                                            
    bottom: 125%;                                          
    left: 50%;                                             
    margin-left: -60px;                                    
    opacity: 0;                                            
    transition: opacity 0.3s;                              
    font-size: 20px;
}
  
.tooltip .tooltiptext::after {
    content: "";                                           
    position: absolute;                                    
    top: 100%;                                             
    left: 50%;                                             
    margin-left: -5px;                                     
    border-width: 5px;                                     
    border-style: solid;                                   
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;                                   
    opacity: 1;                                
}
